<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" id="total-orders">
        <div class="card-header">
          <h3>Total Orders</h3>
        </div>
        <div class="card-body">
          <p>{{total_orders}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" id="orders-deliverd">
        <div class="card-header">
          <h3>Orders Delivered</h3>
        </div>
        <div class="card-body">
          <p>{{delivered}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" id="orders-pending">
        <div class="card-header">
          <h3>Orders Pending</h3>
        </div>
        <div class="card-body">
          <p>{{pending}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
